/* You can add global styles to this file, and also import other style files */
body {
	background-color: #363636;
	color: #eeeeee;
	margin: 0; 
	
	/*font-family: 'Lato', sans-serif;*/
	/*font-family: Roboto, "Helvetica Neue", sans-serif; */
}

html, body { 
	height: 100%; 
}


.card:hover > span{
  
  transition: all 0.2s ease-in-out;
  color:rgb(255, 168, 86);

}

::-webkit-scrollbar {
	width: 13px;
}
  
::-webkit-scrollbar-track {
  	background-color: #383838;
}
   
::-webkit-scrollbar-thumb {
	background: #696969; 
}
  
::-webkit-scrollbar-thumb:hover {
	background: #858585;
}

h1.title{
  color: #f3f3f3; 
  font-size: 30px; 
  font-weight: 750;
  margin-top:4px;
  margin-left:2px;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #3a87c7;
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1200px;
    flex-direction: column;
    align-items: center;
  }

  .spacermain {
    flex: 0.5;
  }

  .spacer {
    flex: 0.425;
  }

  p {
    margin: 0;
  }

  a, a:visited, a:hover {
    color: #eeeeee;
    text-decoration: none;
    font-size: 20px;
  }

  h1 {
	  padding-top: 10px;
  }

  h2.padding {
	padding: 10px; 
	margin-top: 10px;
  }

  h3.padding {
	padding: 10px; 
	margin-top: 10px;
  }

  .loader {
    position: relative;
    top: 5%;
    left: 15%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #585858;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }

.navImage {
  transition: all 0.2s ease-in-out;
  width:300px; 
  padding: 10px
}

.card-header-container {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	margin-top: 50px;
	background-color: rgba(41, 41, 41, 0.445);
	border-radius: 4px;
	border: 1px solid #1d1d1d;
	height: 100%;
	width: 95%;
  transition: all 0.2s ease-in-out;
}

.card-body-container {
  position: relative;
	bottom: 7%;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	margin-top: 16px;
	background-color: rgba(41, 41, 41, 0.445);
	border-radius: 4px;
	border: 1px solid #1d1d1d;
	height: 550px;
	width: 95%;
  transition: all 0.2s ease-in-out;
}


.card1 {
  border-radius: 10px;
	position: relative; 
	top: 15px;
  margin: 0 8px 16px;
  
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  background-color: rgba(20, 20, 20, 0.95);
  height: 88%;
  width: 30%;
}

.card2 {
  border-radius: 10px;
	position: relative; 
	top: 15px;
  margin: 0 8px 16px;
	padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 24px;
  background-color: rgba(20, 20, 20, 0.95);
  height: 88%;
  width: 60%;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  